# directory of jobs scripts
scan_path: path
file_types:
- r
- sql
- py
- sh

# somewhere writable to put temp files (not optional)
local_tmp_dir: path

# sqlite databases
statekeeper: path/ductwork.statekeeper
logger: path/ductwork.logger

# ductwork file log
worklog: path/ductwork.log
loglevel: debug

# list of databases to run sql jobs
sql:
 redshift:
  type: postgres
  host: host
  username: usermname
  password: password
  database: database
  port: 1234

# slack integration for fail notifications
slack:
 webhook: https://hooks.slack.com/services/12345
 channel: '#general'
 user: ductwork
 icon: ':duct_tape:'

# which
r: /usr/local/bin/Rscript
psql: /usr/local/bin/psql
mysql: /usr/bin/mysql
python: /usr/local/bin/python
